@media only screen and (max-width: 1440px) {
/* img:nth-of-type(1){
  img > * { width: calc(100% - 100px);
}
h1 {
  font-weight: 700;
  font-size: 53px;
  position: absolute;
  top: 77px;
  left: 86px;
  line-height: 61px;

}
h2 {
  font-weight: 500;
  font-size: 38px;
  position: absolute;
  top: 282px;
  left: 86px;
} */
/* img:nth-of-type(2){
  position: absolute;
  top: 404px;
  left: 141px;
} */

}
